@model Thinkage.MainBoss.WebAccess.Models.Assignment
@using Thinkage.MainBoss.WebAccess
@using Thinkage.MainBoss.Database
@using Thinkage.Web.Mvc.Html

@{
	ViewBag.Title = T.Text("View Assignment Status");
}
@section MainContent {
	<div id="assignmentPanel">
		<h2>@(T.Text("View Assignment Status"))</h2>
		@if (((Thinkage.MainBoss.WebAccess.MainBossWebAccessApplication)Thinkage.Libraries.Application.Instance).HasRequestsLicense) {
			<div>
				<h3>@(Html.ActionLink(T.Text("Requests"), "Index", "Request"))</h3>
				@(Html.LabelValueRowActiveLabel(Html.ActionLink(T.Text("Not Assigned"), "UnAssigned", "Request"), dsMB.Schema.T.AttentionStatus.F.NumNewWorkOrders.EffectiveType, Model.DatabaseStatus.NumUnAssignedNewRequests + Model.DatabaseStatus.NumUnAssignedInProgressRequests))
				@(Html.LabelValueRow(T.Text("New"), dsMB.Schema.T.AttentionStatus.F.NumNewRequests.EffectiveType, Model.AttentionStatus.NumNewRequests))
				@(Html.LabelValueRowActiveLabel(Html.ActionLink(T.Text("In Progress"), "Index", "Request"), dsMB.Schema.T.AttentionStatus.F.NumInProgressRequests.EffectiveType, Model.AttentionStatus.NumInProgressRequests))
			</div>
		}
		@if (((Thinkage.MainBoss.WebAccess.MainBossWebAccessApplication)Thinkage.Libraries.Application.Instance).HasWorkOrdersLicense) {
			<div>
				<h3>@(Html.ActionLink(T.Text("Work Orders"), "Index", "WorkOrder"))</h3>
				@(Html.LabelValueRowActiveLabel(Html.ActionLink(T.Text("Not Assigned"), "UnAssigned", "WorkOrder"), dsMB.Schema.T.AttentionStatus.F.NumNewWorkOrders.EffectiveType, Model.DatabaseStatus.NumUnAssignedNewWorkOrders + Model.DatabaseStatus.NumUnAssignedOpenWorkOrders))
				@(Html.LabelValueRow(T.Text("Draft"), dsMB.Schema.T.AttentionStatus.F.NumNewWorkOrders.EffectiveType, Model.AttentionStatus.NumNewWorkOrders))
				@(Html.LabelValueRowActiveLabel(Html.ActionLink(T.Text("Open"), "Index", "WorkOrder"), dsMB.Schema.T.AttentionStatus.F.NumInProgressWorkOrders.EffectiveType, Model.AttentionStatus.NumInProgressWorkOrders))
			</div>
		}
		<br />
	</div>
	<div class="Actions">
		<div class="Action">@(Html.ActionButton(T.Text("Refresh"), ""))</div>
		<div class="Action">@(Html.ActionLink(T.Text("Home"), "WebAccess", "Home"))</div>
	</div>
}
