@model WorkOrderStateHistoryModel
@using Thinkage.Libraries.MVC.Models
@using Thinkage.MainBoss.Database
@using Thinkage.MainBoss.WebAccess
@using Thinkage.MainBoss.WebAccess.Models
@using Thinkage.Web.Mvc.Html
@{
	Layout = "~/Views/Shared/_LayoutEditForm.cshtml";
	ViewBag.Title = T.Text("Add comment to Work Order {0}", ViewData["ParentXID"]);
}
@section EditFormContent {
	@(Html.ValidationSummary(true))
	<div class="viewPanel">
		@(Html.LabelValueRow(T.Text("Number"), dsMB.Schema.T.WorkOrder.F.Number.EffectiveType, Model.WorkOrderNumber))
		@(Html.LabelValueRow(T.Text("Current State"), dsMB.Schema.T.WorkOrderState.F.Code.EffectiveType, Model.CurrentStateCode))
		@(Html.LabelValueRow(T.Text("Current Status"), dsMB.Schema.T.WorkOrderStateHistoryStatus.F.Code.EffectiveType, Model.CurrentStatusCode))
		<div id="LastComment">
			<h2>@(T.Text("Most Recent Comments"))</h2>
			<div class="MultiLine">@(Model.LastComment)</div>
		</div>
	</div>
	<br />
	@using (Html.BeginForm()) {
		FormMap<WorkOrderStateHistoryModel> f = Thinkage.MainBoss.WebAccess.Models.WorkOrderStateHistoryRepository.StateHistoryForm;

		<fieldset>
			@(Html.HiddenFor(s => s.WorkOrderID))
			@(Html.HiddenFor(s => s.WorkOrderStateID))
			@(Html.HiddenFor(s => s.CurrentStateHistoryID))
			@(Html.InputControlFor(f, s => s.EffectiveDate))

			@if (Model.WorkOrderStateHistoryStatusPickList.Count<SelectListItem>() > 1) {
				<p>
					@(Html.LabelFor(f, s => s.WorkOrderStateHistoryStatusID))
					@(Html.DropDownListFor(Model.WorkOrderStateHistoryStatusPickList, s => s.WorkOrderStateHistoryStatusID))
					@(Html.ValidationMessageFor(s => s.WorkOrderStateHistoryStatusID))
				</p>
			}
				@(Html.InputControlFor(f, s => s.Comment))
			<p>
				<input type="submit" value="@(T.Text("Save Comment"))" />
			</p>
		</fieldset>
	}
}
@section scripts {
	<script>
		$(function () {
			$(".selector").accordion({ header: "h2" });
			$("#LastComment").accordion({
				collapsible: true,
				active: false,
				heightStyle: "content"
			});
		});
	</script>
}
