@model WorkOrderStateHistoryModel
@using Thinkage.Libraries.MVC.Models
@using Thinkage.MainBoss.Database
@using Thinkage.MainBoss.WebAccess
@using Thinkage.MainBoss.WebAccess.Models
@using Thinkage.Web.Mvc.Html
@{
	Layout = "~/Views/Shared/_LayoutEditForm.cshtml";
	ViewBag.Title = T.Text("Close Work Order {0}", ViewData["WorkOrderNumber"]);
}
@section EditFormContent {
	@(Html.ValidationSummary(true, T.Text("Close Work Order was unsuccessful. Please correct the errors and try again.")))
	<div class="viewPanel">
		<table>
			<tbody>
				@(Html.LabelValue(T.Text("Number"), dsMB.Schema.T.WorkOrder.F.Number.EffectiveType, Model.WorkOrderNumber))
				@(Html.LabelValue(T.Text("Current State"), dsMB.Schema.T.WorkOrderState.F.Code.EffectiveType, Model.CurrentStateCode))
				@(Html.LabelValue(T.Text("Current Status"), dsMB.Schema.T.WorkOrderStateHistoryStatus.F.Code.EffectiveType, Model.CurrentStatusCode))
			</tbody>
		</table>
	</div>
	<br />
	@using (Html.BeginForm()) {
		FormMap<WorkOrderStateHistoryModel> f = Thinkage.MainBoss.WebAccess.Models.WorkOrderStateHistoryRepository.StateHistoryForm;

		<fieldset>
			@(Html.HiddenFor(s => s.WorkOrderID))
			@(Html.HiddenFor(s => s.CurrentStateHistoryID))
			@(Html.HiddenFor(s => s.WorkOrderStateID))
			@(Html.InputControlFor(f, s => s.EffectiveDate))
			@if (Model.WorkOrderStateHistoryStatusPickList.Count<SelectListItem>() > 1) {
				<p>
					@(Html.LabelFor(f, s => s.WorkOrderStateHistoryStatusID))
					@(Html.DropDownListFor(Model.WorkOrderStateHistoryStatusPickList, s => s.WorkOrderStateHistoryStatusID))
					@(Html.ValidationMessageFor(s => s.WorkOrderStateHistoryStatusID))
				</p>
			}
			@(Html.InputControlFor(f, s => s.Comment))
			@(Html.InputControlFor(f, s => s.StartDateEstimate))
			@(Html.InputControlFor(f, s => s.EndDateEstimate))
			@(Html.InputControlFor(f, s => s.Downtime))
			@if (Model.CloseCodePickList.Count<SelectListItem>() > 1) {
				<p>
					@(Html.LabelFor(f, rp => rp.CloseCodeID))
					@(Html.DropDownListFor(Model.CloseCodePickList, rp => rp.CloseCodeID))
					@(Html.ValidationMessageFor(rp => rp.CloseCodeID))
				</p>
			}
			<p>
				<input type="submit" value="@(T.Text("Close Work Order"))" />
			</p>
		</fieldset>
	}
}
@section scripts {
	@* // this code doesn't work
	<script type="text/javascript">
			$("#StartDateEstimate").datepicker({
				onSelect: function(d,i){
					if (d !== i.lastVal) {
						$(this).change();
					}
				},
				change: function () {
					$("#EndDateEstimate").datepicker("option", "minDate", $('#StartDateEstimate').datepicker('getDate'));
				}
			});
			$("#EndDateEstimate").datepicker({
				onSelect: function (d, i) {
					if (d !== i.lastVal) {
						$(this).change();
					}
				},
				change: function () {
					$("#StartDateEstimate").datepicker("option", "maxDate", $('#EndDateEstimate').datepicker('getDate'));
				}
			});
	</script>
	*@
}

