@model IEnumerable<ItemCountValueEntities.PermanentItemLocation>

@{
	ViewBag.Title = "Item Assignments";
	Layout = "~/Views/Shared/_LayoutBrowse.cshtml";
}
@section BrowseContent {
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ExternalTag)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BaseActualItemLocation.BaseItemLocation.Item.Code)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BaseActualItemLocation.BaseItemLocation.Location.DerivedRelativeLocation.Code)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BaseActualItemLocation.OnHand)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ExternalTag)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BaseActualItemLocation.BaseItemLocation.Item.Code)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BaseActualItemLocation.BaseItemLocation.Location.DerivedRelativeLocation.Code)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BaseActualItemLocation.OnHand)
				</td>
				<td>
					@Html.ActionLink("Count", "ItemAssignment/ItemValueCount", new { permanentItemAssignmentId = item.Id, resultMessage = "" }) |
					@Html.ActionLink("Details", "ViewItemAssignment", new { itemAssignmentId = item.Id, resultMessage="" }) |
				</td>
			</tr>
		}
		</tbody>
	}
		