@using Thinkage.Web.Mvc.Html;
@using Thinkage.MainBoss.WebAccess;
@using Thinkage.MainBoss.Database;

@model IEnumerable<ItemCountValueEntities.PermanentItemLocation>

@{
	if (Model.Count() > 0) {
		ViewBag.Title = T.Text("Item assignments for {0}", ViewData["StoreroomIdentification"]);
	}
	else {
		ViewBag.Title = T.Text("There are no item assignments for {0}", ViewData["StoreroomIdentification"]);
	}
	Layout = "~/Views/Shared/_LayoutBrowse.cshtml";
}
@section BrowseContent {
	@if (Model.Count() > 0) {
		@Html.LabelValueRow(dsMB.Path.T.Location.F.Code, ViewData["StoreroomPath"])
	}
	<thead>
		<tr>
			@Html.LabelOnly(dsMB.Path.T.PermanentItemLocation.F.ActualItemLocationID.F.ItemLocationID.F.Code, "th")
			@Html.LabelOnly(dsMB.Path.T.PermanentItemLocation.F.ExternalTag, "th")
			@Html.LabelOnly(dsMB.Path.T.PermanentItemLocation.F.ActualItemLocationID.F.OnHand, "th")
			@if ((bool)ViewData["ViewCost"]) {
				@Html.LabelOnly(dsMB.Path.T.PermanentItemLocation.F.ActualItemLocationID.F.TotalCost, "th")
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td class="WithPopup">
					@Html.ActionLink(item.BaseActualItemLocation.BaseItemLocation.Item.Code, "ViewItemAssignment", new {
							itemAssignmentId = item.Id,
							resultMessage = ""
						})
					<span class="ThePopup">@(item.BaseActualItemLocation.BaseItemLocation.Item.Desc)</span>
				</td>
				@Html.ValueOnlyForBrowsePanel(dsMB.Path.T.PermanentItemLocation.F.ExternalTag.ReferencedType, item.ExternalTag)
				@Html.ValueOnlyForBrowsePanel(dsMB.Path.T.PermanentItemLocation.F.ActualItemLocationID.F.OnHand.ReferencedType, item.BaseActualItemLocation.OnHand)
				@if ((bool)ViewData["ViewCost"]) {
					@Html.ValueOnlyForBrowsePanel(dsMB.Path.T.PermanentItemLocation.F.ActualItemLocationID.F.TotalCost.ReferencedType, item.BaseActualItemLocation.TotalCost)
				}
			</tr>
		}
	</tbody>
	}
	@section BackToContent {
		@(Html.BackOperation(T.Text("Back to Storeroom list"), TempData))
	}

