@model ItemCountValueEntities.PermanentItemLocation
@using Thinkage.MainBoss.WebAccess.Models
@using Thinkage.MainBoss.Database
@using Thinkage.MainBoss.WebAccess
@using Thinkage.Web.Mvc.Html
@{
	Layout = "~/Views/Shared/_LayoutLabelValueView.cshtml";
	ViewBag.Title = T.Text("View Item Assignment {0}", Model.BaseActualItemLocation.BaseItemLocation.Item.Code);
}
@section LabelValueViewPanel {
	@(Html.LabelValueRowCodeDesc(dsMB.Path.T.PermanentItemLocation.F.ActualItemLocationID.F.ItemLocationID.F.ItemID.F.Code, Model.BaseActualItemLocation.BaseItemLocation.Item))
	@(Html.LabelValueRowCodeDesc(dsMB.Path.T.PermanentItemLocation.F.ActualItemLocationID.F.ItemLocationID.F.ItemID.F.UnitOfMeasureID.F.Code, Model.BaseActualItemLocation.BaseItemLocation.Item.UnitOfMeasure))
	@(Html.LabelValueRow(dsMB.Path.T.PermanentItemLocation.F.ExternalTag, Model.ExternalTag))
	@(Html.LabelValueRow(dsMB.Path.T.PermanentItemLocation.F.ActualItemLocationID.F.ItemLocationID.F.LocationID.F.Code, Model.BaseActualItemLocation.BaseItemLocation.Code))
	@(Html.LabelValueRow(dsMB.Path.T.PermanentItemLocation.F.Minimum, Model.Minimum))
	@(Html.LabelValueRow(dsMB.Path.T.PermanentItemLocation.F.Maximum, Model.Maximum))
	@(Html.LabelValueRow(dsMB.Path.T.PermanentItemLocation.F.ActualItemLocationID.F.OnHand, Model.BaseActualItemLocation.OnHand))
	@(Html.LabelValueRow(dsMB.Path.T.PermanentItemLocation.F.ActualItemLocationID.F.OnOrder, Model.BaseActualItemLocation.OnOrder))
	@(Html.LabelValueRow(dsMB.Path.T.PermanentItemLocation.F.ActualItemLocationID.F.OnReserve, Model.BaseActualItemLocation.OnReserve))
	@(Html.LabelValueRow(dsMB.Path.T.PermanentItemLocation.F.ActualItemLocationID.F.Available, Model.BaseActualItemLocation.Available))
	@(Html.LabelValueRowCodeDesc(dsMB.Path.T.PermanentItemLocation.F.ActualItemLocationID.F.CostCenterID.F.Code, Model.BaseActualItemLocation.CostCenter))
}
@section LabelValueViewTrailer {
	<div id="Activity">
		<h2>@(T.Text("Activity"))</h2>
		<div id="resourcePanel">
			<table>
				<thead>
					<tr>
						@Html.LabelOnly(dsMB.Path.T.ItemActivity.F.TableEnum, "th")
						@Html.LabelOnly(dsMB.Path.T.AccountingTransaction.F.EffectiveDate, "th")
						@Html.LabelOnly(dsMB.Path.T.ItemActivity.F.Quantity, "th")
						@if ((bool)ViewData["ViewCost"]) {
							@Html.LabelOnly(dsMB.Path.T.ItemActivity.F.UnitCost, "th")
							@Html.LabelOnly(dsMB.Path.T.ItemActivity.F.Cost, "th")
						}
						@if ((bool)ViewData["ViewAccounting"]) {
							@Html.LabelOnly(dsMB.Path.T.ItemActivity.F.AccountingTransactionID.F.FromCostCenterID, "th")
							@Html.LabelOnly(dsMB.Path.T.ItemActivity.F.AccountingTransactionID.F.ToCostCenterID, "th")
						}
					</tr>
				</thead>
				<tbody>
					@foreach (var h in (from activity in Model.BaseActualItemLocation.BaseItemLocation.ItemActivityItemLocation
									   orderby activity.AccountingTransaction.EffectiveDate ascending
									   select activity)) {
						<tr>
							<td>@(h.ItemActivityType)</td>
							@Html.ValueOnlyForBrowsePanel(dsMB.Path.T.AccountingTransaction.F.EffectiveDate.ReferencedType, h.AccountingTransaction.EffectiveDate)
							@Html.ValueOnlyForBrowsePanel(dsMB.Path.T.ItemActivity.F.Quantity.ReferencedType, h.Quantity)
							@if ((bool)ViewData["ViewCost"]) {
								@Html.ValueOnlyForBrowsePanel(dsMB.Path.T.ItemActivity.F.UnitCost.ReferencedType, h.UnitCost)
								@Html.ValueOnlyForBrowsePanel(dsMB.Path.T.ItemActivity.F.Cost.ReferencedType, h.Cost)
							}
							@if ((bool)ViewData["ViewAccounting"]) {
								@Html.ValueOnlyForBrowsePanel(dsMB.Path.T.ItemActivity.F.AccountingTransactionID.F.FromCostCenterID.F.Code.ReferencedType, h.AccountingTransaction.FromCostCenter.Code)
								@Html.ValueOnlyForBrowsePanel(dsMB.Path.T.ItemActivity.F.AccountingTransactionID.F.ToCostCenterID.F.Code.ReferencedType, h.AccountingTransaction.ToCostCenter.Code)
							}
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}
@section BackToContent {
	@(Html.BackOperation(T.Text("Back to List"), TempData))
}
@section scripts {
	<script type="text/javascript">
	$(function () {
		$(".selector").accordion({ header: "h2" });
		$("#Activity").accordion({
			collapsible: true,
			active: 0,
			heightStyle: "content"
		});
	});
	</script>
}
