@using Thinkage.Web.Mvc.Html;
@using Thinkage.MainBoss.WebAccess;
@{
	Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@section MainContent {
	<h2>@ViewBag.Title@RenderSection("EditFormHeader", required: false)</h2>
	@(Html.ResultMessage(@ViewData["ResultMessage"]))
	@RenderSection("EditFormContent")
	@RenderSection("EditFormTrailer", required: false)
	<div class="Actions">
		@(Html.BackOperation(T.Text("Cancel"), TempData))
		@RenderSection("BackToContent", required: false)
	</div>
}
@section scripts{
	@RenderSection("scripts", required: false)
}
