<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<title>@ViewBag.Title - MainBoss Web Access</title>
	<link rel="Shortcut Icon" href="~/Content/favicon.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	@{
		var style = "~/Content/css";
		if (Request.Browser.IsMobileDevice) {
			style = "~/Content/mobilecss";
		}
	}
	@Styles.Render(@style)
</head>
<body>
	<header>
		<a href="http://www.thinkage.ca"><img src="~/Content/logo.gif" width="280" alt="Thinkage Ltd." /></a><br />@Html.Partial("LogOnUserControl")
	</header>
	<div id="main">

		@RenderSection("MainContent")
	</div>
	<footer>
		<div>
			<a href="http://www.mainboss.com/info/aboutMainBossWebAccess.htm?version=4.2"><img src="~/Content/mb_thinkage.gif" alt="Thinkage Ltd." width="100" /></a>
		</div>
	</footer>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryui")
	@Styles.Render("~/Content/themes/base/css")
	@Html.JQueryUI().InitializeDatepickerCulture(Thinkage.Libraries.Application.InstanceFormatCultureInfo)
	@RenderSection("scripts", required: false)
</body>
</html>
