@using Thinkage.Web.Mvc.Html;
@using Thinkage.MainBoss.WebAccess;
@{
	Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@section MainContent {
	<h2>@ViewBag.Title</h2>
	<div class="browsePanel">
		<table class="tablesorter">
			@RenderSection("BrowseContent")
		</table>
	</div>
	<div class="Actions">
		<div class="Action">@(Html.ActionButton(T.Text("Refresh"), (string)@ViewData["Refresh"]))</div>
		<div class="Action">@(Html.ActionLink(T.Text("Home"), (string)@ViewData["Home"], "Home"))</div>
		@RenderSection("BackToContent", required: false)
	</div>
}
@section scripts {
	@Scripts.Render("~/bundles/tablesorter")
	<script>
		$(document).ready(function () {
			if( $(".tablesorter").find("tr").length > 1)
				$(".tablesorter").tablesorter({
					theme: 'jui'
				});
		});
		@RenderSection("scripts", required: false)
	</script>
}
