@model IEnumerable<WorkOrderEntities.WorkOrder>
@using Thinkage.MainBoss.WebAccess
@using Thinkage.Web.Mvc.Html
@using Thinkage.MainBoss.Database
@{
	Layout = "~/Views/Shared/_LayoutBrowse.cshtml";
	ViewBag.Title = T.Text("UnAssigned Work Orders");
}
@section BrowseContent {
	<thead>
		<tr>
			@Html.LabelOnly(dsMB.Path.T.WorkOrder.F.Number, "th")
			@Html.LabelOnly(dsMB.Path.T.WorkOrder.F.Subject, "th", new string[] { "SuppressWhenNarrow" })
			@Html.LabelOnly(T.Text("Current State"), "th")
			@Html.LabelOnly(dsMB.Path.T.WorkOrder.F.WorkOrderPriorityID, "th")
			@Html.LabelOnly(T.Text("Current Status"), "th")

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td class="WithPopup">
					@Html.ActionLink(item.Number, "ViewUnAssigned", new { id = item.Id, resultMessage = "" })
					<span class="ThePopup">@(item.Subject)</span>
				</td>
				<td class="SuppressWhenNarrow">@(item.Subject) </td>
				@Html.CodeValueForBrowsePanel(item.CurrentWorkOrderStateHistory.WorkOrderState)
				@Html.CodeValueForBrowsePanel(item.WorkOrderPriority)
				@Html.CodeValueForBrowsePanel(item.CurrentWorkOrderStateHistory.WorkOrderStateHistoryStatus)
			</tr>
		}
	</tbody>
}
@section BackToContent {
	<div class="Action">@(Html.ActionLink(T.Text(" Assignments"), "Index", "Assignment"))</div>
}
